.grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0 auto;
  width: 80%;
}

.user {
  width: 300px;
  height: 400px;
  padding-top: 40px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 3px solid yellowgreen;
  border-radius: 5px;
  background-color: #053e47;
  cursor: pointer;
}
.user:hover {
  text-decoration: none;
  border: 3px solid white;
}

.user img {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 5px;
}

.user h2 h3 {
  margin: 0;
}

.userInfo {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}
h1 {
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

h3 span {
  color: rgb(39, 233, 39);
}
