@font-face {
  font-family: "get schwifty";
  src: url("../../assets/fonts/get_schwifty.ttf") format("truetype");

  font-family: "GuardiansRegular-6M0q";
  src: url("../../assets/fonts/GuardiansRegular-6M0q.ttf") format("truetype");
}

.title {
  font-family: "GuardiansRegular-6M0q", "get schwifty", "Times New Roman", Times,
    serif;
  color: wheat;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.spinner {
  width: 56px;
  height: 56px;
  border: 11.2px #07041a double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}
